.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1px;
    margin: 10%;
    box-shadow: 10px 5px 5px gray;
}

.block1{
    flex: 1;
    border: 1px;
    padding: 0px;
    margin: 1px;
    display: flex;
    background-color:white;
    /* flex-direction: column; */
    justify-content: space-between;
    /* display: inline; */
}

.block2{
    flex: 1;
    display: flex;
    padding: 1px;
    margin: 1px;
    background-color: white;

}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

.checkout{
    flex: 1;
    display: flex;
    margin: 1px;
    justify-content: space-between;

    
}
.checkout1{
    display: inline;
}

.breadcrumb{
    flex: 5;
    display:flex;

    margin: auto;
}


.paymentblock{
    display: flex;
    flex: 4;
    margin-left: 0.5%;
    background-color: white;
}

.cartblock{
    display: flex;
    margin-right: 2px;
    background-color: whitesmoke;
    flex: 4;
}
.icon{
    display: flex;
    flex: 4;
}